In [1]:
import pandas as pd

In [2]:
h1b_data = pd.read_csv('data.csv')

/Users/rainierababao/anaconda2/envs/nn/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
print(len(h1b_data))
h1b_data.head()

528146

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,...,WAGE_RATE_OF_PAY_FROM,WAGE_RATE_OF_PAY_TO,WAGE_UNIT_OF_PAY,H-1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,I-200-16055-173457,CERTIFIED-WITHDRAWN,2/24/16,10/1/16,H-1B,8/10/16,8/10/19,DISCOVER PRODUCTS INC.,2500 LAKE COOK ROAD,RIVERWOODS,...,"65,811.00","67,320.00",Year,N,N,RIVERWOODS,LAKE,IL,60015,3/1/16
1,I-200-16064-557834,CERTIFIED-WITHDRAWN,3/4/16,10/1/16,H-1B,8/16/16,8/16/19,DFS SERVICES LLC,2500 LAKE COOK ROAD,RIVERWOODS,...,"53,000.00","57,200.00",Year,N,N,RIVERWOODS,LAKE,IL,60015,3/8/16
2,I-200-16063-996093,CERTIFIED-WITHDRAWN,3/10/16,10/1/16,H-1B,9/9/16,9/9/19,EASTBANC TECHNOLOGIES LLC,1211 31ST ST. NW,WASHINGTON,...,"77,000.00",0.00,Year,Y,N,WASHINGTON,NaN,DC,20007,3/16/16
3,I-200-16272-196340,WITHDRAWN,9/28/16,10/1/16,H-1B,1/26/17,1/25/20,INFO SERVICES LLC,17177 NORTH LAUREL PARK DR,LIVONIA,...,"102,000.00",0.00,Year,Y,N,JERSEY CITY,HUDSON,NJ,07302,NaN
4,I-200-15053-636744,CERTIFIED-WITHDRAWN,2/22/15,10/2/16,H-1B,3/1/15,3/1/18,BB&T CORPORATION,223 WEST NASH STREET,WILSON,...,"132,500.00",0.00,Year,N,N,NEW YORK,NEW YORK,NY,10036,2/26/15

In [4]:
desired_cols = ['JOB_TITLE',
        'EMPLOYER_NAME',
        'WORKSITE_STATE',
        'WORKSITE_CITY',
        'WAGE_RATE_OF_PAY_FROM']

In [5]:
a = h1b_data[desired_cols]

In [6]:
a['WAGE_RATE_OF_PAY_FROM'] = a['WAGE_RATE_OF_PAY_FROM'].apply(
    lambda x: int(x.replace(',','')[:-3]))
b = a[~(a['WAGE_RATE_OF_PAY_FROM'] < 10000)]
b.head()

/Users/rainierababao/anaconda2/envs/nn/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,JOB_TITLE,EMPLOYER_NAME,WORKSITE_STATE,WORKSITE_CITY,WAGE_RATE_OF_PAY_FROM
0,ASSOCIATE DATA INTEGRATION,DISCOVER PRODUCTS INC.,IL,RIVERWOODS,65811
1,SENIOR ASSOCIATE,DFS SERVICES LLC,IL,RIVERWOODS,53000
2,.NET SOFTWARE PROGRAMMER,EASTBANC TECHNOLOGIES LLC,DC,WASHINGTON,77000
3,PROJECT MANAGER,INFO SERVICES LLC,NJ,JERSEY CITY,102000
4,ASSOCIATE - ESOTERIC ASSET BACKED SECURITIES,BB&T CORPORATION,NY,NEW YORK,132500

In [7]:
print(len(b))
b.to_csv('h1b.tsv', sep='\t')

494814