In [2]:
import pandas as pd

In [3]:
h1b_data = pd.read_csv('data.csv')

/Users/rainierababao/anaconda2/envs/nn/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (13,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
print(len(h1b_data))
h1b_data.head()
print(h1b_data['SOC_NAME'].describe())
ice = h1b_data['SOC_NAME'].value_counts()

# h1b_data.groupby('SOC_NAME').value_counts()

528146
count                                528145
unique                                  821
top       SOFTWARE DEVELOPERS, APPLICATIONS
freq                                 102527
Name: SOC_NAME, dtype: object

In [23]:

desired_cols = ['JOB_TITLE',
        'EMPLOYER_NAME',
        'WORKSITE_STATE',
        'WORKSITE_CITY',
        'WAGE_RATE_OF_PAY_FROM']

ice.index.name='SOC_NAME'
ice.name

'S'

In [5]:
a = h1b_data[desired_cols]

In [6]:
a['WAGE_RATE_OF_PAY_FROM'] = a['WAGE_RATE_OF_PAY_FROM'].apply(
    lambda x: int(x.replace(',','')[:-3]))
b = a[~(a['WAGE_RATE_OF_PAY_FROM'] < 10000)]
b.head()

/Users/rainierababao/anaconda2/envs/nn/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,JOB_TITLE,EMPLOYER_NAME,WORKSITE_STATE,WORKSITE_CITY,WAGE_RATE_OF_PAY_FROM
0,ASSOCIATE DATA INTEGRATION,DISCOVER PRODUCTS INC.,IL,RIVERWOODS,65811
1,SENIOR ASSOCIATE,DFS SERVICES LLC,IL,RIVERWOODS,53000
2,.NET SOFTWARE PROGRAMMER,EASTBANC TECHNOLOGIES LLC,DC,WASHINGTON,77000
3,PROJECT MANAGER,INFO SERVICES LLC,NJ,JERSEY CITY,102000
4,ASSOCIATE - ESOTERIC ASSET BACKED SECURITIES,BB&T CORPORATION,NY,NEW YORK,132500

In [7]:
print(len(b))

494814

In [8]:
b = b.dropna()
print(len(b))
# b.to_csv('h1b.tsv', sep='\t', index=False, header=False)
# c = b.sample(frac=0.01, replace=True)
# print(len(c))
# print(len(b))
# c.to_csv('h1b_sampler.tsv', sep='\t', index=False, header=False)

494763

In [9]:
b.head()

,JOB_TITLE,EMPLOYER_NAME,WORKSITE_STATE,WORKSITE_CITY,WAGE_RATE_OF_PAY_FROM
0,ASSOCIATE DATA INTEGRATION,DISCOVER PRODUCTS INC.,IL,RIVERWOODS,65811
1,SENIOR ASSOCIATE,DFS SERVICES LLC,IL,RIVERWOODS,53000
2,.NET SOFTWARE PROGRAMMER,EASTBANC TECHNOLOGIES LLC,DC,WASHINGTON,77000
3,PROJECT MANAGER,INFO SERVICES LLC,NJ,JERSEY CITY,102000
4,ASSOCIATE - ESOTERIC ASSET BACKED SECURITIES,BB&T CORPORATION,NY,NEW YORK,132500

In [10]:
c = b.copy()
TECHIES = set(['SOFTWARE', 'PROGRAMMER', 'DEVELOPER', 'ENGINEER'])
from numpy.random import rand
# 95% of the time, TECHIES will be identified as a HENRY
is_a_techie = lambda job_title: any([word in TECHIES for word in job_title.upper().strip().split()]) and rand() <= 0.95
c['HENRY'] = c['JOB_TITLE'].map(is_a_techie)

In [11]:
c.head()

,JOB_TITLE,EMPLOYER_NAME,WORKSITE_STATE,WORKSITE_CITY,WAGE_RATE_OF_PAY_FROM,HENRY
0,ASSOCIATE DATA INTEGRATION,DISCOVER PRODUCTS INC.,IL,RIVERWOODS,65811,False
1,SENIOR ASSOCIATE,DFS SERVICES LLC,IL,RIVERWOODS,53000,False
2,.NET SOFTWARE PROGRAMMER,EASTBANC TECHNOLOGIES LLC,DC,WASHINGTON,77000,True
3,PROJECT MANAGER,INFO SERVICES LLC,NJ,JERSEY CITY,102000,False
4,ASSOCIATE - ESOTERIC ASSET BACKED SECURITIES,BB&T CORPORATION,NY,NEW YORK,132500,False

In [12]:
c.to_csv('h1b_henry.tsv', sep='\t', index=False, header=False)
import random
random.seed(1337)
c.sample(frac=0.01, replace=True).to_csv('h1b_henry_sampler.tsv', sep='\t', index=False, header=False)